{% extends "layout.html" %}
{% block content %}
  <h1 style = "font-family:georgia,garamond,serif;font-size:56px;font-style:italic;">About</h1>
  <p style= "font-family:georgia,garamond,serif;font-size:24px;font-style:italic;"> Here at Disease Diagnostics we believe it is necessary to indentify the condition you are currently in as soon as possible. By selecting the symptoms you are experiencing on the Symptoms page we will give you a prediction of the possible condition you are experiencing. Furthermore, you will be able to learn more about the condition by clicking on the link on the page. We understand that during these hard times it is dangerous to visit hospitals to get diagnosed so with our model you can self-diagnose yourself and take the correct next measures. Please visit our symptoms page to input your symptoms and get instantaneous results. 
  </p>
  <style>
  p{
     font-family: 'Corben', Georgia, Times, serif;
  }
  

body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJHhrKUHKVzIiVbko42PZNdD4ZL3-oxoLWw&usqp=CAU');
}
</style>    


  
{% endblock content %}