{% extends "layout.html" %}
{% block content %}
<h1 style = "font-family:georgia,garamond,serif;font-size:56px;font-style:italic;">Welcome To Disease Diagnostics</h1> 
<p1 style = "font-family:georgia,garamond,serif;font-size:22px;font-style:italic;"> At Disease Diagnostics, we make sure to make the most accurate predictions of a condition you might be experiencing based on your symptoms. Using large datasets, we use machine learning to predict your prognosis based on your symptoms. There are 132 symptoms you can select to describe your condition and over 42 diseases that we can predict using this model. Symptoms range from itching, skin rash, throat, chest pain, etc. Thank you for using our website. If you have any questions, contact us at disease.diagnostics123@gmail.com.</p1>

<img src="https://www.lifechanginginnovation.org/sites/www.lifechanginginnovation.org/files/styles/hero_1600w/public/images/hero/The%20Importance%20of%20Diagnostic%20Tests%20in%20Fighting%20Infectious%20Diseases_hero.jpg?itok=CwB7Ibs6" alt="Disease" class="center">
<style>
body {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTVJHhrKUHKVzIiVbko42PZNdD4ZL3-oxoLWw&usqp=CAU');
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 15px
}
</style>    
   
{% endblock content %}