<!DOCTYPE html>
<html>
  <head>
    <style>
      .newspaper {
          -webkit-column-count: 11; /* Chrome, Safari, Opera */
          -moz-column-count: 11; /* Firefox */
          column-count: 10;
      }
    </style>
    <title>Check Symptoms</title>
  </head>
  <body>
    <meta name="viewport" content="width=device-width initial-scale=1.0">
    <h1>Symptoms</h1>
     <h1> Please Choose the Symptoms that you have exprienced</h1>
    <div class="newspaper">
     
      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> abdominal pain </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> abnormal menstruation </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> acidity </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s12" name="s12" value="s12">
      <label for="s12"> vomiting </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>
      
      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>
      
      <input type="checkbox" id="s1" name="s1" value="s1">
      <label for="s1"> itching </label><br>
      <input type="checkbox" id="s2" name="s2" value="s2">
      <label for="s2"> skin rash </label><br>
      <input type="checkbox" id="s3" name="s3" value="s3">
      <label for="s3"> nodal skin eruptions </label><br>
      <input type="checkbox" id="s4" name="s4" value="s4">
      <label for="s4"> continuous sneezing </label><br>
      <input type="checkbox" id="s5" name="s5" value="s5">
      <label for="s5"> shivering </label><br>
      <input type="checkbox" id="s6" name="s6" value="s6">
      <label for="s6"> chills </label><br>
      <input type="checkbox" id="s7" name="s7" value="s7">
      <label for="s7"> joint pain </label><br>
      <input type="checkbox" id="s8" name="s8" value="s8">
      <label for="s8"> stomach pain </label><br>
      <input type="checkbox" id="s9" name="s9" value="s9">
      <label for="s9"> acidity </label><br>
      <input type="checkbox" id="s10" name="s10" value="s10">
      <label for="s10"> ulcers on tongue </label><br>
      <input type="checkbox" id="s11" name="s11" value="s11">
      <label for="s11"> muscle wasting </label><br>

      <input type="submit">

      <nav>
  <ul>
    <li><strong>Home</strong></li>
    <li><a href="about.html">About Us</a></li>
    <li><a href="clients.html">Our Clients</a></li>
    <li><a href="products.html">Our Products</a></li>
    <li><a href="services.html">Our Services</a></li>
    <li><a href="contact.html">Contact Us</a></li>
  </ul>
</nav>
    </div>
  </body>
</html>